*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html, body{
    width: 100%;
    height: 100%;
}

#background{
    position: absolute;
    top: 0;
    left: 0;
    min-width:100%;
    min-height:100%;
    -webkit-filter: brightness(0.4);
    z-index: -1;
}

#quote{
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
    font-size: 3em;
    font-family: 'Droid Serif', serif;
    color: #fff;
    text-shadow: 1px 1px 1px #000,
				-1px 1px 1px #000,
				-1px -1px 1px #000,
				1px -1px 1px #000;
}

#author{
    text-align: right;
    width: 90%;
    color: #fff;
    margin-top: 2em;
    font-family: 'Droid Serif', serif;
}

#src{
    text-align: right;
    color: #fff;
}
#src a{
    color: #fff;
}